.container {
  margin-top: 4em;
  margin-bottom: 4em;
}

.loading-skeleton-base {
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border-color: #eee;
}
.loading-skeleton-base::placeholder {
  color: transparent;
}
@keyframes loading-skeleton {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;

  img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
  }
    h1,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    .btn,
    label,
    .form-control {
      color: transparent;
      appearance: none;
      -webkit-appearance: none;
      background-color: #eee;
      border-color: #eee;
    }
  }
  .hover-effect:hover .flex-grow-1 {
    background-color: #f8d7da; /* Màu nền khi hover */
    border-color: #dc3545; /* Màu viền khi hover */
    transition: all 0.3s ease-in-out; /* Hiệu ứng mượt */
  }
  