.classroom-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cluster-header {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.upload-button {
    text-decoration: none;
    width: 24px !important;
    margin-right: 30px
}

.classroom-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.card-holder {
    border: 1px solid black;
    border-radius: 10px; 
    width: 50%;
    margin-bottom: 25px;
    max-height: fit-content;
}

.card-holder .card {
    border-radius: 10px;
    border: none;
}
