.form-input-container {
    display: flex;
    justify-content: center;
}

.submit-icon {

    button {
        background-color: transparent;
    }

    display: flex;
    background-color: transparent;
}

.file-upload-icon:hover{
    background-color: #07294d   ;
}