.register-container {
    display: flex;
}

.register-right-inner {
    width: 80%;
    margin: 0 auto auto 0;
    background-color: #02aaab;
    padding: 25px;
    height: 100%;
}

.register-left-inner {
    width: 80%;
    margin: 0 0 auto auto;
    padding: 10px;
    height: 100%;
}

.register-left {
    flex: 1;
    padding: 10px;
}

.register-right {
    flex: 1;
}

.register-left-header {
    color: #001648;
    text-align: left;
    margin-top: 39px;
    margin-bottom: 25px;
    cursor: pointer;
}

.register-right-header {
    text-align: left;
    color: white;
    margin: 5%;
    margin-top: 64px;
}

.policy label {
    color: #333;
}

.paragraph {
    margin-bottom: 25px;
}